.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:rgba(228, 235, 240, 0.75);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;

  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
  
  .message,
  .signin {
    margin-bottom: 6px;
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .form-field label {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: left;
    
  }
  
  .form-field input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: 16px;
  }
  
  .submit {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente el botón */
    border: none;
    outline: none;
    padding: 8px 20px; /* Ajusta el tamaño del botón a 8px de alto y 20px de ancho */
    border-radius: 10px;
    font-size: 16px;
    background-color: royalblue;
    color: #fff;
  }
  
  .google-button {
    background-color: #4285F4; /* Color de fondo de Google */
    color: #fff;
    border-radius: 10px;
    

  }
  
  .facebook-button {
    background-color: #3b5998; /* Color de fondo de Facebook */
    color: #fff;
    border-radius: 10px;

  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  
  .social-buttons {
    display: flex;
    flex-direction: column; /* Muestra los botones de forma vertical */
    gap: 10px;
  }
  
  .social-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  
  .social-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .social-button:hover {
    background-color: rgb(56, 90, 194);
  }
  .google-button,
.facebook-button {
  display: inline-block; /* Cambiar a inline-block para que estén en línea */
  width: calc(50% - 5px); /* Calcular el ancho para que tengan un espacio entre ellos */
  margin-right: 10px; /* Añadir un margen a la derecha para la separación */
}
.social-buttons-container {
    display: flex;
    justify-content: space-between; /* Espaciado entre los botones */
    gap: 10px; /* Separación entre los botones */
  }
  