
.search-bar {
    margin-right: 10px; /* Ajusta el margen según tus preferencias */
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  